Repository ryn-cx/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format

local-biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npm run lint'
  language: system

local-ruff-check:
  name: ruff check
  entry: uvx ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: python

local-ruff-format:
  name: ruff format
  entry: uvx ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: python

Made linters more strict
  backend/pyproject.toml
Due: none

Add default docstring format for ruff if docstrings are added and allow asserts in tests
  backend/pyproject.toml
Due: none

Update Python version and added prek instead of pre-commit
  backend/pyproject.toml
Due: none

Syncronize uv.lock with upstream
  backend/uv.lock
Due: none

Further support Python 3.14
  .github/workflows/generate-client.yml
  .github/workflows/playwright.yml
  .github/workflows/test-backend.yml
  backend/Dockerfile
  backend/uv.lock
Due: none

Added tool.ruff.target-version
  backend/pyproject.toml
Due: none

Added vscode workspace for better editor support
  full-stack-fastapi-template.code-workspace
Due: none

Update dependencies for Python 3.14
  backend/pyproject.toml
  backend/uv.lock
Due: none

Final rework of dependencies updating as little as possible but adding Python 3.14 compatibility.
  backend/pyproject.toml
  backend/uv.lock
Due: none

Replace deprecated execute function, added comment, formatted, removed commented out code
  backend/tests/api/routes/test_users.py
Due: local-ruff-check, local-ruff-format

Removed unused import, added some type annotations,
  backend/app/alembic/env.py
Due: local-ruff-check, local-ruff-format

Format, add comments/noqa
  backend/app/items/models.py
Due: local-ruff-check, local-ruff-format

Removed uneeded quotes, added comments/noqa
  backend/app/users/models.py
Due: local-ruff-check, local-ruff-format

Added noqa/comments
  backend/app/items/schemas.py
Due: local-ruff-check, local-ruff-format

Fix workspace format
  full-stack-fastapi-template.code-workspace
Due: none

Update ruff due to crashing on startup with workspace
  backend/uv.lock
Due: none

Improved types, type hints, and comments
  backend/app/items/router.py
Due: local-ruff-check, local-ruff-format

Improved imports
  backend/app/items/service.py
Due: local-ruff-check, local-ruff-format

Formatted, added type hints, added comments/noqa
  backend/app/login/router.py
Due: local-ruff-check, local-ruff-format

Move around imports
  backend/app/login/service.py
Due: local-ruff-check, local-ruff-format

Add type hint and comments/noqa
  backend/app/private/router.py
Due: local-ruff-check, local-ruff-format

Formatted, added comments, improved imports
  backend/app/users/dependencies.py
Due: local-ruff-check, local-ruff-format

Update incorrect comment
  backend/app/login/router.py
Due: local-ruff-check, local-ruff-format

Clean up
  backend/app/users/router.py
Due: local-ruff-check, local-ruff-format

Cleaned backend up
  backend/app/api.py
  backend/app/backend_pre_start.py
  backend/app/config.py
  backend/app/database.py
  backend/app/dependencies.py
  backend/app/items/models.py
  backend/app/items/router.py
  backend/app/items/schemas.py
  backend/app/login/router.py
  backend/app/main.py
  backend/app/private/router.py
  backend/app/schemas.py
  backend/app/security.py
  backend/app/tests_pre_start.py
  backend/app/users/dependencies.py
  backend/app/users/models.py
  backend/app/users/router.py
  backend/app/users/schemas.py
  backend/app/users/service.py
  backend/app/utilities.py
  backend/app/utils/router.py
  backend/tests/api/routes/test_users.py
  backend/tests/crud/test_user.py
  backend/tests/scripts/test_backend_pre_start.py
  backend/tests/scripts/test_test_pre_start.py
  backend/tests/utils/item.py
  backend/tests/utils/user.py
  backend/tests/utils/utils.py
Due: local-ruff-check, local-ruff-format

Testing rollback
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

Make generate client not rely on the location it is run from
  scripts/generate-client.sh
Due: none

Update README
  README.md
Due: none

Fix accidently commented out code
  scripts/generate-client.sh
Due: none

Fix bad import
  .pre-commit-config.yaml
  backend/app/security.py
Due: local-ruff-check, local-ruff-format

Revert some footer changes
  frontend/src/components/Common/Footer.tsx
Due: local-biome-check

Improve ci
  .github/workflows/playwright.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
  compose.ci.yml
  compose.local-testing.yml
Due: none

More CI improvements
  compose.ci.yml
  compose.local-testing.yml
Due: none

Path conditions:
  local-biome-check: any of: ^frontend/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
